body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;                 /*backup font is Courier*/
  background: linear-gradient(89deg, #F1F2B5 0%, #135058 100%);
}

button {
  cursor: pointer;
}